modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ryzer-site"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "sport-calc"

[[workflows.workflow]]
name = "ryzer-site"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=25115 BASE_PATH=/ pnpm --filter @workspace/ryzer-site run dev"
waitForPort = 25115

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "sport-calc"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=18304 BASE_PATH=/sport-calc/ pnpm --filter @workspace/sport-calc run dev"
waitForPort = 18304

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 18304
externalPort = 3001

[[ports]]
localPort = 22479
externalPort = 3000

[[ports]]
localPort = 25115
externalPort = 80

[userenv]

[userenv.shared]
ADMIN_EMAIL = "meonix100@gmail.com"
ADMIN_PASSWORD = "Baba.5524"
JWT_SECRET = "ryzer-jwt-s3cr3t-2026"
RYZER_DATABASE_URL = "postgresql://ryzer:spacemeonixme@db.meonix.me:5432/ryzer_db"

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-3822dfee-3d27-4431-b6c5-6cf30501d18b"
